_archive/
_docs/
_old/
moc/
obj/
pics/
rcc/
TEMPMAKSYSDECOY96/
tmp/

.make.cache
ABLD.BAT
Makefile
Makefile_erebus_exe.mk
bld.inf
erebus.desktop
erebus.loc
erebus.pro.user
erebus.rss
erebus_exe.mmp
erebus_harmattan.desktop
erebus_reg.rss

*.exe
*.sis
*.pkg

*.ico
*.ogg
*.png
*.jpg
*.svg
*.wav

gpl.txt
