_archive/
_devdocs/
_devmedia/
_old/

gfx_lores/
gfxold/
media_source/
moc/
obj/
ogg/
pics/
rcc/
TEMPMAKSYSDECOY96/
tmp/
vorbis/

.make.cache
ABLD.BAT
Makefile
Makefile_erebus_exe.mk
bld.inf
erebus.loc
erebus.rss
erebus_exe.mmp
erebus_harmattan.desktop
erebus_reg.rss
erebus.pro.user
Thumbs.db

*.dll
*.lib
*.exe
*.sis
*.pkg

*.ico
*.ogg
*.svg
*.wav
