<?xml version="1.0" encoding="utf-8"?>
<manifest android:versionName="0.15" package="net.sourceforge.erebusrpg" android:installLocation="auto" android:versionCode="9" xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:name="org.qtproject.qt5.android.bindings.QtApplication" android:label="@string/app_name" android:icon="@drawable/icon">
        <activity android:theme="@android:style/Theme.NoTitleBar.Fullscreen" android:screenOrientation="landscape" android:name="net.sourceforge.erebusrpg.ErebusActivity" android:label="@string/app_name" android:configChanges="orientation|uiMode|screenLayout|screenSize|smallestScreenSize|locale|fontScale|keyboard|keyboardHidden|navigation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <meta-data android:value="-- %%INSERT_APP_LIB_NAME%% --" android:name="android.app.lib_name"/>
            <meta-data android:resource="@array/qt_sources" android:name="android.app.qt_sources_resource_id"/>
            <meta-data android:value="default" android:name="android.app.repository"/>
            <meta-data android:resource="@array/qt_libs" android:name="android.app.qt_libs_resource_id"/>
            <meta-data android:resource="@array/bundled_libs" android:name="android.app.bundled_libs_resource_id"/>
            <!-- Deploy Qt libs as part of package -->
            <meta-data android:value="-- %%BUNDLE_LOCAL_QT_LIBS%% --" android:name="android.app.bundle_local_qt_libs"/>
            <meta-data android:resource="@array/bundled_in_lib" android:name="android.app.bundled_in_lib_resource_id"/>
            <meta-data android:resource="@array/bundled_in_assets" android:name="android.app.bundled_in_assets_resource_id"/>
            <!-- Run with local libs -->
            <meta-data android:value="-- %%USE_LOCAL_QT_LIBS%% --" android:name="android.app.use_local_qt_libs"/>
            <meta-data android:value="/data/local/tmp/qt/" android:name="android.app.libs_prefix"/>
            <meta-data android:value="-- %%INSERT_LOCAL_LIBS%% --" android:name="android.app.load_local_libs"/>
            <meta-data android:value="-- %%INSERT_LOCAL_JARS%% --" android:name="android.app.load_local_jars"/>
            <meta-data android:value="-- %%INSERT_INIT_CLASSES%% --" android:name="android.app.static_init_classes"/>
            <!--  Messages maps -->
            <meta-data android:value="@string/ministro_not_found_msg" android:name="android.app.ministro_not_found_msg"/>
            <meta-data android:value="@string/ministro_needed_msg" android:name="android.app.ministro_needed_msg"/>
            <meta-data android:value="@string/fatal_error_msg" android:name="android.app.fatal_error_msg"/>
            <!--  Messages maps -->
            <!-- Splash screen -->
            <meta-data android:resource="@layout/splash" android:name="android.app.splash_screen"/>
            <!-- Splash screen -->
        </activity>
    </application>
    <!--
        Although Google recommend the use of supports-screens rather than compatible-screens, it gives us no way to restrict based on resolution or density.
        We use compatible-screens to rule out low density "normal"-sized devices (which should mean blocking 480x320 or less).
        This also has the side-effect to blocking most low memory devices (e.g., less than 512MB RAM) which Erebus may have problems on (though for v0.13, 2nd quest works okay on 384MB emulated 480x320 Android 2.3 Galaxy Ace).
        "213" is a hack needed for Google Nexus 7 (2012) (tvdpi); "480" is used for xxhdpi; "560" is needed for Google Nexus 6.
        See:
            http://stackoverflow.com/questions/12234221/specifying-android-market-ram-in-the-manifest
            http://stackoverflow.com/questions/11691775/why-my-app-is-not-showing-up-on-tablets-in-google-play
    -->
    <!--<supports-screens android:xlargeScreens="true" android:largeScreens="true" android:normalScreens="true" android:anyDensity="true" android:smallScreens="false"/>-->
    <compatible-screens>
        <!-- high density normal size screens -->
        <screen android:screenSize="normal" android:screenDensity="hdpi"/>
        <screen android:screenSize="normal" android:screenDensity="xhdpi"/>
        <screen android:screenSize="normal" android:screenDensity="213"/>
        <screen android:screenSize="normal" android:screenDensity="480"/>
        <screen android:screenSize="normal" android:screenDensity="560"/>
        <!-- all large size screens -->
        <screen android:screenSize="large" android:screenDensity="ldpi"/>
        <screen android:screenSize="large" android:screenDensity="mdpi"/>
        <screen android:screenSize="large" android:screenDensity="hdpi"/>
        <screen android:screenSize="large" android:screenDensity="xhdpi"/>
        <screen android:screenSize="large" android:screenDensity="213"/>
        <screen android:screenSize="large" android:screenDensity="480"/>
        <screen android:screenSize="large" android:screenDensity="560"/>
        <!-- all xlarge size screens -->
        <screen android:screenSize="xlarge" android:screenDensity="ldpi"/>
        <screen android:screenSize="xlarge" android:screenDensity="mdpi"/>
        <screen android:screenSize="xlarge" android:screenDensity="hdpi"/>
        <screen android:screenSize="xlarge" android:screenDensity="xhdpi"/>
        <screen android:screenSize="xlarge" android:screenDensity="213"/>
        <screen android:screenSize="xlarge" android:screenDensity="480"/>
        <screen android:screenSize="xlarge" android:screenDensity="560"/>
    </compatible-screens>
    <uses-sdk android:minSdkVersion="10" android:targetSdkVersion="19"/>
    <!-- %%INSERT_PERMISSIONS -->
    <!-- %%INSERT_FEATURES -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
</manifest>
